/*共同版面*/
.content{
    color:#FFFFFF;
    width:1280px;
    margin:0 auto;
    position:relative;
}
.content .conbox input{
    font-size:1.4rem;
    color:#999;
    padding-left:10px;
    line-height:40px;
    height:40px;
    width:235px;
    border:1px solid #adadad;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.conbox b{
    display:block;
    position:absolute;
    top:8px;
    text-align:center;
    left:184px;
    line-height:38px;
    height:38px;
    width:50px;
    color:#fff;
    cursor:pointer;
    background:#8e8e8e;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
/*center*/
.conbox .center{
    background: #fff;
    width:890px;
    margin-left:130px;
    color:#999;
    min-height:2000px;
}
.conbox .center a{
    color:#999;
}
/*left*/
.conbox .left{
    font-size:18px;
    padding-top:200px;
    position:fixed;
    width:130px;
    line-height:50px;
}

.left a{
    display: block;
    height:60px;
    width:100%;
}

.left button{
    width:80px;
    font-size:1.5rem;
    margin-left:-25px;
    margin-bottom:10px;
    padding-left:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.left button span{
    width: 40px;
    height: 40px;
    line-height:40px;
    font-size:2rem;
}
.left li:last-child button{
    margin-left:-15px;
    width:50px;
    height:40px;
    background: none;
    border:none;
}
.left .popinput {
    position:absolute;
    left:100px;
    bottom:28px;
    z-index:9998;
    display: none
}
.left .popsong{
    position:absolute;
    left:110px;
    bottom:72px;
    display: none;
    z-index: 9999;
    width:562px;
    padding:10px 20px 0 20px;
    height:270px;
    font-size:1.5rem;
    color:#333;
    background: #fff;
    border:1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.popsong .sglist ,
.popsong .artical{
    width:260px;
    float:left;
}
.popsong .sglist{
    border-right:1px solid #dedede;
}
.popsong ul{
    padding-left:10px;
    margin-top:0;
}
.popsong .artical ul{
    padding-left:30px;
}
.popsong ul li{
    width:200px;
    margin-top:10px;
    line-height:35px;
    border-bottom:1px solid #dedede;
}
.popsong li span:first-child{
    color:#00bfff;
}
.popsong  p{
    height:50px;
    text-align:left;
    padding-left:10px;
    line-height: 50px;
    width:80px;
}
.popsong .artical p{
    padding-left:30px;
}

/*right*/
.conbox .right{
    width:260px;
    position:fixed;
    top:0;
    padding-top:100px;
    z-index:9999;
}
.right li{
    text-align:left;
    padding-left:30px;
}
.right span{
    font-weight:900;
    font-size:25px;
}
.right .chesong{
    font-size:1.4rem;
    text-decoration: underline;
}
.right .checlose{
    display: none;
    font-size:1.4rem;
}
.clr {
    clear:both;
    height:0
}

/** 滚动条**/
/* main container */
.jScrollbar {
    width:170px;
    height:400px;
    overflow:hidden;
    position:fixed;
    margin-left:-60px;
    background-color:#000;
    padding:5px;
    margin-top: 10px;
    display: none;
}
/* text container */
.jScrollbar_mask {
    width:90%;
    position:relative;
    top:0;
    float:left;
}
/* paragraphs */
.jScrollbar .jScrollbar_mask p {
    margin:0;
    padding:0;
    color:#c9c9c9;
    font-size:1.2rem;
    text-align: center;
    /* text-indent: 1rem; */
}
/* slider container */
.jScrollbar_draggable {
    float:left;
    width:6%;
    height:380px;
    overflow:hidden;
    /* 	background:transparent url('../images/bg_jScrollbar_draggable.jpg') repeat-y center top; */
    margin-left:4px;
    position:relative;
    top:0;
}
/** draggable **/
.jScrollbar_draggable a.draggable {
    position:relative;
    background-color:#a1a1a1;
    display:block;
    height:120px;
    width:9px;
    margin-left:6px;
    /* cursor:s-resize; */
    cursor:pointer;
}