
/*Ñ¡Ôñ¸èÇúÒ³*/
.conbox .center{
    min-height:1000px;
}
.centerbox{
    width:720px;
    padding-top:100px;
    height:100%;
    margin:0 auto 0 auto;
}
.csearch{
    width:560px;
    float:right;
    line-height:40px;
    height:40px;
    position: relative;
}
.centerbox .csearch input{
    line-height:45px;
    height:45px;
    width:510px;
}
.csearch b{
    display:block;
    position:absolute;
    text-align:center;
    top:1px;
    left:460px;
    line-height:43px;
    height:43px;
    font-size:2rem;
}
.clist{
    margin-top:60px;
    min-height:100px;
}
.clist table{
    width:720px;
}
.clist tbody tr{
    width:576px;
    height:150px;
    border-bottom:1px solid #dedede;
}
.clist tbody .nam{
    width:460px;
}
.clist tbody span{
    display:block;
    width:100px;
    font-size:1.4rem;
    height:35px;
    line-height:35px;
}
.clist tbody .songname{
    font-size:2rem;
    color:#00bfff;
}
.clist tbody .choose{
    text-align:center;
    width:60px;
    cursor:pointer;
    border:1px solid #adadad
}
.clist tbody img{
    margin-right:20px;
}


